/******************************************
 *************General Settings*************
 ******************************************/


/***************Main Chat*****************/

/* body.dark-mode .mention-link--group {
	color: var(--mention-link-group-text-color) !important;
}

body.dark-mode .mention-link--me {
	color: var(--mention-link-me-text-color) !important;
} */



body.dark-mode .burger i {
	background-color: var(--color-white);
}

body.dark-mode .rc-member-list__user.active,
body.dark-mode .rc-member-list__user:hover {
	background-color: var(--color-darkest);
}

body.dark-mode .rc-user-info-details {
	background-color: var(--color-dark-medium);
}

body.dark-mode p.rc-user-info-details__info {
	color: var(--color-white);
}

body.dark-mode .messages-container .footer,
body.dark-mode .content-background-color {
	background-color: var(--header-background-color);
}

body.dark-mode .rc-message-box__container {
	background-color: var(--message-box-background);
}

body.dark-mode .message .body > table thead tr {
    background-color: var(--color-darkest);
}

body.dark-mode .message .body > table tr {
    background-color: var(--color-dark-medium);
}

body.dark-mode .message .body > table tr:nth-child(2n) {
    background-color: var(--color-dark);
}

/* Modals */

/*body.dark-mode .background-info-font-color {
	background-color: var(--color-dark-medium);
}*/


/***** Right sidebar *****/

/* TODO : switch toggle */

/* Targets unread message indicator in threads panel. */




/************** Admin panel & Account panel ******************/


/*body.dark-mode .rcx-box * .rcx-input-box,*/



/**************Login Page******************/








/* Style the browser scroll bars to avoid visually clashing with the rest of Rocket.Chat in dark mode. */

/*
body.dark-mode * {
	scrollbar-color: #777 transparent;
}
*/



/***** Changes for 3.9.1 *****/

/* aside.sidebar--main .rcx-sidebar-topbar .rcx-button--small-square {
    width: 1.35rem;
}

body.dark-mode .main-content .rcx-box {
    color: var(--info-font-color) !important;
	background-color: var(--color-darkest) !important;
}

body.dark-mode div[class*="user-card"] {
    color: var(--info-font-color) !important;
    background-color: var(--color-dark) !important;
}

body.dark-mode .rcx-box {
    color: var(--info-font-color) !important;
    background-color: var(--color-dark-medium);
}

body.dark-mode .rcx-status-bullet--online {
  background: #2de0a5 !important;
}

body.dark-mode .rcx-box--full {
    background-color: var(--color-dark);
}

body.dark-mode .rc-box.rcx-box--full.rcx-sidebar-item__title,
body.dark-mode .rc-box.rcx-box--full.rcx-sidebar-item__subtitle,
body.dark-mode .rc-box.rcx-box--full.rcx-sidebar-item__time {
	color: var(--sidebar-item-text-color);
}

body.dark-mode .rcx-sidebar-topbar button.rcx-button-group__item .rcx-icon,
body.dark-mode .rcx-box.rcx-box--full.rcx-icon--name-hashtag,
body.dark-mode .rcx-box.rcx-box--full.rcx-sidebar-title {
	color: var(--sidebar-item-text-color) !important;
}

body.dark-mode .rcx-sidebar-item--highlighted {
	color: #fff !important;
}

body.dark-mode .rcx-sidebar-item__container span.rcx-box.rcx-box--full.rcx-badge {
	background-color: var(--rc-color-alert);
} */

/* This CSS block is used to counter RocketChat's bug which crop the end of custom CSS. */
.dummy-entry {
    color: whitesmoke;
}
